<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <!--支付宝服务窗授权-->
    <add key="CollectiveOAuth_ALIPAY_MP_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_ALIPAY_MP_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_ALIPAY_MP_Scope" value="auth_user" />
    <add key="CollectiveOAuth_ALIPAY_MP_AlipayPublicKey" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_ALIPAY_MP_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=ALIPAY_MP" />

    <!--微信服务号自动授权-->
    <add key="CollectiveOAuth_WECHAT_MP_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_WECHAT_MP_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_WECHAT_MP_Scope" value="snsapi_userinfo" />
    <add key="CollectiveOAuth_WECHAT_MP_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=WECHAT_MP" />

    <!-- 微信开放平台授权-->
    <add key="CollectiveOAuth_WECHAT_OPEN_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_WECHAT_OPEN_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_WECHAT_OPEN_Scope" value="snsapi_login" />
    <add key="CollectiveOAuth_WECHAT_OPEN_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=WECHAT_OPEN" />

    <!--企业微信自动授权-->
    <add key="CollectiveOAuth_WECHAT_ENTERPRISE_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_WECHAT_ENTERPRISE_AgentId" value="xxxxxx" />
    <add key="CollectiveOAuth_WECHAT_ENTERPRISE_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_WECHAT_ENTERPRISE_Scope" value="snsapi_userinfo" />
    <add key="CollectiveOAuth_WECHAT_ENTERPRISE_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=WECHAT_ENTERPRISE" />

    <!--企业微信扫码授权-->
    <add key="CollectiveOAuth_WECHAT_ENTERPRISE_SCAN_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_WECHAT_ENTERPRISE_SCAN_AgentId" value="xxxxxx" />
    <add key="CollectiveOAuth_WECHAT_ENTERPRISE_SCAN_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_WECHAT_ENTERPRISE_SCAN_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=WECHAT_ENTERPRISE_SCAN" />

    <!--码云自动授权-->
    <add key="CollectiveOAuth_GITEE_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_GITEE_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_GITEE_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=GITEE" />

    <!--Github自动授权-->
    <add key="CollectiveOAuth_GITHUB_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_GITHUB_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_GITHUB_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=GITHUB" />

    <!--百度授权-->
    <add key="CollectiveOAuth_BAIDU_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_BAIDU_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_BAIDU_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=BAIDU" />

    <!--小米开放平台授权-->
    <add key="CollectiveOAuth_XIAOMI_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_XIAOMI_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_XIAOMI_Scope" value="user/profile%20user/openIdV2%20user/phoneAndEmail" />
    <add key="CollectiveOAuth_XIAOMI_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=XIAOMI" />

    <!--钉钉开放平台授权-->
    <add key="CollectiveOAuth_DINGTALK_SCAN_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_DINGTALK_SCAN_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_DINGTALK_SCAN_Scope" value="snsapi_login" />
    <add key="CollectiveOAuth_DINGTALK_SCAN_RedirectUri" value="https://yours.domain.com/oauth2/DingTalkCallback" />

    <!--OSChina授权-->
    <add key="CollectiveOAuth_OSCHINA_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_OSCHINA_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_OSCHINA_Scope" value="snsapi_login" />
    <add key="CollectiveOAuth_OSCHINA_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=OSCHINA" />

    <!--Coding(扣钉)授权-->
    <add key="CollectiveOAuth_CODING_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_CODING_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_CODING_Scope" value="user" />
    <add key="CollectiveOAuth_CODING_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=CODING" />

    <!--Linkin(领英)授权-->
    <add key="CollectiveOAuth_LINKEDIN_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_LINKEDIN_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_LINKEDIN_Scope" value="r_liteprofile%20r_emailaddress%20w_member_social" />
    <add key="CollectiveOAuth_LINKEDIN_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=LINKEDIN" />

    <!-- 微博授权-->
    <add key="CollectiveOAuth_WEIBO_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_WEIBO_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_WEIBO_Scope" value="xxx" />
    <add key="CollectiveOAuth_WEIBO_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=WEIBO" />

    <!-- QQ授权-->
    <add key="CollectiveOAuth_QQ_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_QQ_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_QQ_UnionId" value="xxx" />
    <add key="CollectiveOAuth_QQ_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=QQ" />

    <!-- 微博授权-->
    <add key="CollectiveOAuth_DOUYIN_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_DOUYIN_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_DOUYIN_Scope" value="user_info" />
    <add key="CollectiveOAuth_DOUYIN_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=DOUYIN" />

    <!-- Google授权-->
    <add key="CollectiveOAuth_GOOGLE_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_GOOGLE_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_GOOGLE_Scope" value="openid%20email%20profile" />
    <add key="CollectiveOAuth_GOOGLE_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=GOOGLE" />

    <!-- Facebook授权-->
    <add key="CollectiveOAuth_FACEBOOK_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_FACEBOOK_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_FACEBOOK_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=FACEBOOK" />

    <!-- 微软授权-->
    <add key="CollectiveOAuth_MICROSOFT_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_MICROSOFT_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_MICROSOFT_Scope" value="user.read%20mail.read" />
    <add key="CollectiveOAuth_MICROSOFT_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=MICROSOFT" />

    <!-- 今日头条授权-->
    <add key="CollectiveOAuth_TOUTIAO_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_TOUTIAO_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_TOUTIAO_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=TOUTIAO" />

    <!-- Teambition授权-->
    <add key="CollectiveOAuth_TEAMBITION_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_TEAMBITION_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_TEAMBITION_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=TEAMBITION" />

    <!-- 人人网授权-->
    <add key="CollectiveOAuth_RENREN_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_RENREN_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_RENREN_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=RENREN" />

    <!-- Pinterest授权-->
    <add key="CollectiveOAuth_PINTEREST_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_PINTEREST_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_PINTEREST_Scope" value="read_public" />
    <add key="CollectiveOAuth_PINTEREST_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=PINTEREST" />

    <!-- StackOverflow授权-->
    <add key="CollectiveOAuth_STACK_OVERFLOW_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_STACK_OVERFLOW_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_STACK_OVERFLOW_Scope" value="read_inbox" />
    <add key="CollectiveOAuth_STACK_OVERFLOW_StackOverflowKey" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_STACK_OVERFLOW_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=STACK_OVERFLOW" />

    <!-- 华为授权-->
    <add key="CollectiveOAuth_HUAWEI_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_HUAWEI_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_HUAWEI_Scope" value="https%3A%2F%2Fwww.huawei.com%2Fauth%2Faccount%2Fbase.profile" />
    <add key="CollectiveOAuth_HUAWEI_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=HUAWEI" />

    <!-- 酷家乐授权-->
    <add key="CollectiveOAuth_KUJIALE_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_KUJIALE_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_KUJIALE_Scope" value="get_user_info" />
    <add key="CollectiveOAuth_KUJIALE_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=KUJIALE" />
    
    <!-- Gitlab授权-->
    <add key="CollectiveOAuth_GITLAB_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_GITLAB_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_GITLAB_Scope" value="read_user+openid+profile+email" />
    <add key="CollectiveOAuth_GITLAB_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=GITLAB" />

    <!-- 美团授权-->
    <add key="CollectiveOAuth_MEITUAN_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_MEITUAN_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_MEITUAN_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=MEITUAN" />

    <!-- 饿了么授权-->
    <add key="CollectiveOAuth_ELEME_ClientId" value="xxxxxxxxxxxx" />
    <add key="CollectiveOAuth_ELEME_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="CollectiveOAuth_KUJIALE_Scope" value="all" />
    <add key="CollectiveOAuth_ELEME_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=ELEME" />




    <!--自定义扩展授权-->
    <add key="Extend_CollectiveOAuth_TEST_ClientId" value="xxxxxxxxxxxx" />
    <add key="Extend_CollectiveOAuth_TEST_ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="Extend_CollectiveOAuth_TEST_RedirectUri" value="https://yours.domain.com/oauth2/callback?authSource=WECHAT_MP" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
